<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" >
<title>Insert title here</title>
<link rel="stylesheet"  href="/ingresar.css">
</head>
<body>
	<h1>EXTRAER</h1>
	<div class="extraer">
		<h3>Mensaje : <span th:text="${mensaje}"></span></h3>
		<form th:action="@{/extraer}" method="post">
			<label for="cantidad">Introduce cantidad a extraer</label>
			<input id="cantidad" name="cantidad" type="text">
			</br>
			<p><input type="submit" value="extraer"></p>
			
			<p><a th:href="@{/home}">Volver home</a></p>
		</form>
	</div>
</body>
</html>