@charset "UTF-8";

body{
	background-color: rgb(202, 251, 255);
	background-image: url('/sakura.png');
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	display: flex;
	display: inline-block;
	text-align: center;

}

body img{
	filter: blur(5px);
}

h1{
	font-family: 'Courier New', Courier, monospace;
	text-decoration: overline underline;
}

table{
	border: 2px solid #000; 
	margin: 0 auto;
	background-color: rgba(255,255,255, 0.5);
}

th{
	border: 2px solid #000; 
}
td{
	border: 2px solid rgb(107, 107, 107); 
	width: 200px;
}

span{
	font-style: italic;
	font-weight: 100;
	color: rgb(0, 128, 255);
}

a{	
	background-color: rgb(232, 232, 232);
	padding: 5px;
	border-radius: 20%;
	border: 2px solid rgb(100, 100, 100);
	transition: background-color 0.3s ease;
	transition: transform 0.1s ease;
	display: inline-block;
	text-decoration: none;
}

a:hover{
	background-color: rgb(204, 255, 240);
	color: black;
	transform: scale(1.05 );
}